
FRONTEND/VisualDefinitivo/.vs/VisualDefinitivo/v16/.suo
FRONTEND/VisualDefinitivo/.vs/VisualDefinitivo/v16/Server/sqlite3/storage.ide
FRONTEND/VisualDefinitivo/VisualDefinitivo/bin/VisualDefinitivo.dll
FRONTEND/VisualDefinitivo/VisualDefinitivo/bin/VisualDefinitivo.pdb
FRONTEND/VisualDefinitivo/VisualDefinitivo/Controllers/CarritoController.cs
FRONTEND/VisualDefinitivo/VisualDefinitivo/Controllers/HomeController.cs
FRONTEND/VisualDefinitivo/VisualDefinitivo/Controllers/RecetaMantController.cs
FRONTEND/VisualDefinitivo/VisualDefinitivo/Controllers/mapeador.cs
FRONTEND/VisualDefinitivo/VisualDefinitivo/Models/LineaViewModel.cs
FRONTEND/VisualDefinitivo/VisualDefinitivo/Models/Pedido.cs
FRONTEND/VisualDefinitivo/VisualDefinitivo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FRONTEND/VisualDefinitivo/VisualDefinitivo/obj/Debug/VisualDefinitivo.csprojAssemblyReference.cache
FRONTEND/VisualDefinitivo/VisualDefinitivo/obj/Debug/VisualDefinitivo.dll
FRONTEND/VisualDefinitivo/VisualDefinitivo/obj/Debug/VisualDefinitivo.pdb
FRONTEND/VisualDefinitivo/VisualDefinitivo/Views/Carrito/AgregarCarrito.cshtml
FRONTEND/VisualDefinitivo/VisualDefinitivo/Views/Home/Productos.cshtml
FRONTEND/VisualDefinitivo/VisualDefinitivo/Views/Home/ProductoUnico.cshtml
FRONTEND/VisualDefinitivo/VisualDefinitivo/Views/RecetaMant/Create.cshtml
FRONTEND/VisualDefinitivo/VisualDefinitivo/VisualDefinitivo.csproj
