
@{
    ViewBag.Title = "Mantenimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mantenimiento</h2>

@Html.ActionLink("Recetas", "Index", "RecetaMant")
@Html.ActionLink("productos", "Index", "ProductoMant")

@Html.ActionLink("Clientes", "Index", "ClienteMant")
@Html.ActionLink("Clientes", "Index", "HistorialMant")

